.landing-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .landing-links {
    width: 100%;
    text-align: center;
  }
  img {
      width: 500px;
      margin-bottom: 25px;
    
  }
  a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
  }
   a :hover {
      text-decoration: underline;
    }
  
  .active {
    color: red;
    text-decoration: underline;
  }